<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fsc.fscweb.dao.MyProjectMapper" >
  <resultMap id="BaseResultMap" type="com.fsc.fscweb.entity.MyProject" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="money_type" property="moneyType" jdbcType="VARCHAR" />
    <result column="project_target" property="projectTarget" jdbcType="INTEGER" />
    <result column="remaining_days" property="remainingDays" jdbcType="INTEGER" />
    <result column="support_number" property="supportNumber" jdbcType="INTEGER" />
    <result column="collection_number" property="collectionNumber" jdbcType="INTEGER" />
    <result column="creation_time" property="creationTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, project_name, money_type, project_target, remaining_days, support_number, collection_number, 
    creation_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fsc.fscweb.entity.MyProjectExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from my_project
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from my_project
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from my_project
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fsc.fscweb.entity.MyProjectExample" >
    delete from my_project
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fsc.fscweb.entity.MyProject" >
    insert into my_project (id, project_name, money_type, 
      project_target, remaining_days, support_number, 
      collection_number, creation_time)
    values (#{id,jdbcType=INTEGER}, #{projectName,jdbcType=VARCHAR}, #{moneyType,jdbcType=VARCHAR}, 
      #{projectTarget,jdbcType=INTEGER}, #{remainingDays,jdbcType=INTEGER}, #{supportNumber,jdbcType=INTEGER}, 
      #{collectionNumber,jdbcType=INTEGER}, #{creationTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fsc.fscweb.entity.MyProject" >
    insert into my_project
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="projectName != null" >
        project_name,
      </if>
      <if test="moneyType != null" >
        money_type,
      </if>
      <if test="projectTarget != null" >
        project_target,
      </if>
      <if test="remainingDays != null" >
        remaining_days,
      </if>
      <if test="supportNumber != null" >
        support_number,
      </if>
      <if test="collectionNumber != null" >
        collection_number,
      </if>
      <if test="creationTime != null" >
        creation_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="projectName != null" >
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="moneyType != null" >
        #{moneyType,jdbcType=VARCHAR},
      </if>
      <if test="projectTarget != null" >
        #{projectTarget,jdbcType=INTEGER},
      </if>
      <if test="remainingDays != null" >
        #{remainingDays,jdbcType=INTEGER},
      </if>
      <if test="supportNumber != null" >
        #{supportNumber,jdbcType=INTEGER},
      </if>
      <if test="collectionNumber != null" >
        #{collectionNumber,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null" >
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fsc.fscweb.entity.MyProjectExample" resultType="java.lang.Integer" >
    select count(*) from my_project
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update my_project
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.projectName != null" >
        project_name = #{record.projectName,jdbcType=VARCHAR},
      </if>
      <if test="record.moneyType != null" >
        money_type = #{record.moneyType,jdbcType=VARCHAR},
      </if>
      <if test="record.projectTarget != null" >
        project_target = #{record.projectTarget,jdbcType=INTEGER},
      </if>
      <if test="record.remainingDays != null" >
        remaining_days = #{record.remainingDays,jdbcType=INTEGER},
      </if>
      <if test="record.supportNumber != null" >
        support_number = #{record.supportNumber,jdbcType=INTEGER},
      </if>
      <if test="record.collectionNumber != null" >
        collection_number = #{record.collectionNumber,jdbcType=INTEGER},
      </if>
      <if test="record.creationTime != null" >
        creation_time = #{record.creationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update my_project
    set id = #{record.id,jdbcType=INTEGER},
      project_name = #{record.projectName,jdbcType=VARCHAR},
      money_type = #{record.moneyType,jdbcType=VARCHAR},
      project_target = #{record.projectTarget,jdbcType=INTEGER},
      remaining_days = #{record.remainingDays,jdbcType=INTEGER},
      support_number = #{record.supportNumber,jdbcType=INTEGER},
      collection_number = #{record.collectionNumber,jdbcType=INTEGER},
      creation_time = #{record.creationTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fsc.fscweb.entity.MyProject" >
    update my_project
    <set >
      <if test="projectName != null" >
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="moneyType != null" >
        money_type = #{moneyType,jdbcType=VARCHAR},
      </if>
      <if test="projectTarget != null" >
        project_target = #{projectTarget,jdbcType=INTEGER},
      </if>
      <if test="remainingDays != null" >
        remaining_days = #{remainingDays,jdbcType=INTEGER},
      </if>
      <if test="supportNumber != null" >
        support_number = #{supportNumber,jdbcType=INTEGER},
      </if>
      <if test="collectionNumber != null" >
        collection_number = #{collectionNumber,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null" >
        creation_time = #{creationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fsc.fscweb.entity.MyProject" >
    update my_project
    set project_name = #{projectName,jdbcType=VARCHAR},
      money_type = #{moneyType,jdbcType=VARCHAR},
      project_target = #{projectTarget,jdbcType=INTEGER},
      remaining_days = #{remainingDays,jdbcType=INTEGER},
      support_number = #{supportNumber,jdbcType=INTEGER},
      collection_number = #{collectionNumber,jdbcType=INTEGER},
      creation_time = #{creationTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>