<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fsc.fscweb.dao.MySubscribeMapper" >
  <resultMap id="BaseResultMap" type="com.fsc.fscweb.entity.MySubscribe" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_name_id" property="userNameId" jdbcType="INTEGER" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="money_type" property="moneyType" jdbcType="VARCHAR" />
    <result column="subscribe_number" property="subscribeNumber" jdbcType="INTEGER" />
    <result column="money_number" property="moneyNumber" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_name_id, project_id, money_type, subscribe_number, money_number, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fsc.fscweb.entity.MySubscribeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from my_subscribe
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from my_subscribe
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from my_subscribe
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fsc.fscweb.entity.MySubscribeExample" >
    delete from my_subscribe
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fsc.fscweb.entity.MySubscribe" >
    insert into my_subscribe (id, user_name_id, project_id, 
      money_type, subscribe_number, money_number, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{userNameId,jdbcType=INTEGER}, #{projectId,jdbcType=INTEGER}, 
      #{moneyType,jdbcType=VARCHAR}, #{subscribeNumber,jdbcType=INTEGER}, #{moneyNumber,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fsc.fscweb.entity.MySubscribe" >
    insert into my_subscribe
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userNameId != null" >
        user_name_id,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="moneyType != null" >
        money_type,
      </if>
      <if test="subscribeNumber != null" >
        subscribe_number,
      </if>
      <if test="moneyNumber != null" >
        money_number,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userNameId != null" >
        #{userNameId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="moneyType != null" >
        #{moneyType,jdbcType=VARCHAR},
      </if>
      <if test="subscribeNumber != null" >
        #{subscribeNumber,jdbcType=INTEGER},
      </if>
      <if test="moneyNumber != null" >
        #{moneyNumber,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fsc.fscweb.entity.MySubscribeExample" resultType="java.lang.Integer" >
    select count(*) from my_subscribe
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update my_subscribe
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userNameId != null" >
        user_name_id = #{record.userNameId,jdbcType=INTEGER},
      </if>
      <if test="record.projectId != null" >
        project_id = #{record.projectId,jdbcType=INTEGER},
      </if>
      <if test="record.moneyType != null" >
        money_type = #{record.moneyType,jdbcType=VARCHAR},
      </if>
      <if test="record.subscribeNumber != null" >
        subscribe_number = #{record.subscribeNumber,jdbcType=INTEGER},
      </if>
      <if test="record.moneyNumber != null" >
        money_number = #{record.moneyNumber,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update my_subscribe
    set id = #{record.id,jdbcType=INTEGER},
      user_name_id = #{record.userNameId,jdbcType=INTEGER},
      project_id = #{record.projectId,jdbcType=INTEGER},
      money_type = #{record.moneyType,jdbcType=VARCHAR},
      subscribe_number = #{record.subscribeNumber,jdbcType=INTEGER},
      money_number = #{record.moneyNumber,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fsc.fscweb.entity.MySubscribe" >
    update my_subscribe
    <set >
      <if test="userNameId != null" >
        user_name_id = #{userNameId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="moneyType != null" >
        money_type = #{moneyType,jdbcType=VARCHAR},
      </if>
      <if test="subscribeNumber != null" >
        subscribe_number = #{subscribeNumber,jdbcType=INTEGER},
      </if>
      <if test="moneyNumber != null" >
        money_number = #{moneyNumber,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fsc.fscweb.entity.MySubscribe" >
    update my_subscribe
    set user_name_id = #{userNameId,jdbcType=INTEGER},
      project_id = #{projectId,jdbcType=INTEGER},
      money_type = #{moneyType,jdbcType=VARCHAR},
      subscribe_number = #{subscribeNumber,jdbcType=INTEGER},
      money_number = #{moneyNumber,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>